@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: #000000;
  --color-foreground: #ffffff;
  --font-sans: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
  
  --color-card: #1c1c1e;
  --color-card-foreground: #ffffff;
  
  --color-border: rgba(255, 255, 255, 0.1);
  --color-input: rgba(255, 255, 255, 0.05);
  
  --color-primary: #ffffff;
  --color-primary-foreground: #000000;
  
  --color-muted: #2c2c2e;
  --color-muted-foreground: #a1a1aa;
  
  --radius-xl: 1.25rem;
  --radius-2xl: 1.5rem;
}

@layer base {
  * {
    @apply border-border outline-none;
  }
  body {
    /* bg-background overrides our next-themes dynamic transition! We remove it, page.tsx handles theme bg! */
    font-feature-settings: "cv02", "cv03", "cv04", "ss01";
  }
}

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    height: 10px;
    width: 6px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: rgba(150, 150, 150, 0.2);
    border-radius: 10px;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgba(150, 150, 150, 0.4);
  }
}